
    body { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; }
    h1 { text-align: center; }
    .trick-card { 
      background: #fff; padding: 15px; margin: 10px auto; 
      border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); max-width: 600px;
      overflow: auto;
    }
    iframe { width: 100%; height: 315px; border: none; }
    .tags { font-size: 0.9em; color: #555; }
    .tag-badge {
      background: #eee;
      color: #333;
      padding: 2px 6px;
      margin: 2px;
      border-radius: 4px;
      font-size: 0.8em;
      display: inline-block;
    }
    .filters {
    text-align: center;
    margin-bottom: 20px;
    }
    .alphabet-bar,
    .difficulty-menu,
    .tags-menu button {
      text-align: center;
      margin-bottom: 20px;
    }

    .alphabet-bar,
    .show-all-btn,
    .tags-menu,
    .difficulty-menu button{
    background: #eee;
    border: none;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    }

    .alphabet-bar,
    .difficulty-menu,
    .tags-menu button:hover{
    background: #ccc;
    }

  button.active {
    background: #999;
    color: white;
  }

  .download-btn {
  display: inline-block;
  background: #58d5eb;
  color: rgb(7, 7, 7);
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s;
  text-align: right;
}
.download-btn:hover {
  background: #45a049;
}

.download-container {
  display: flex;
  justify-content: flex-end; /* moves it to the right */
  margin-top: 10px;
}

