
body { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; }
.trick-card { 
  background: #fff; padding: 15px; margin: 10px auto; 
  border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); max-width: 600px;
  overflow: auto;
}
.trick-header {
  display: flex;
  justify-content: space-between; /* name left, difficulty right */
  align-items: center;            /* vertically center */
}

.trick-header h2 {
  margin: 0;   /* remove default margin for proper alignment */
}

iframe { width: 100%; height: 315px; border: none}
.tag-badge { /* Estil per a les etiquetes dins la trick card*/
  background: #eee;
  color: #333; /*text color*/
  padding: 2px 6px;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.8em;
  display: inline-block;
}

/* Estils per a les barres de filtres */
.line-bar {
  text-align: center;
  margin-bottom: 5px;
  background: #cfe8d7;
}
.line-bar button {
  background: #eee;
  border: none;
  margin: 1px;
  padding: 5px 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

/* Hover (passar punter sense pitjar) effect for buttons */
.line-bar button:hover{
  background: #c41f1f;
}

button.active {
  background: #999;
  color: white;
}

.download-btn {
  display: inline-block;
  background: #afe7c1;
  color: rgb(7, 7, 7);
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s;
  text-align: right;
}
.download-btn:hover {
  background: #2cec69;
}

.download-container {
  display: flex;
  justify-content: flex-end; /* moves it to the right */
  margin-top: 10px;
}

